

@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');

body{

  background-color: blueviolet;
  
}

h3{
  font-family: 'Stalinist One', cursive;

}
.navbar-brand{
  font-family: 'Stalinist One', cursive;

}
#outputDiv{
  display:none;
}